/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@600&family=Poppins:wght@500;600;700&display=swap');

/* CUSTOM PROPERTY */
:root{
    /* colors */
    --body-f-clr:#708090;
    --white-clr:#fff;
    --primary-clr-1:coral;
    --primary-clr-2:rgb(185, 65, 21);
    --primary-clr-3:rgba(255, 127, 80, 0.25);
    --black-clr:#0c0c0c;
    --dark-clr:#1f1f1f;
    --green-clr:green;
    --yellow-clr:rgb(255, 196, 0);
    --slate-gray:#f5f6ff;
    /* Typography */
    --ff-onest:"Onest", sans-serif;
    --ff-poppins:'poppins',sans-serif;
    /* transition */
    --transition-1:0.3s ease;
    --transition-2:0.5s ease-out;
    /* radius */
    --radius-1:0.6rem;
    --radius-pill:2.5rem;
    --radius-full:50%;
}
/* RESET */
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:var(--ff-poppins) ;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--body-f-clr);
    background: var(--white-clr);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}

img,button{
    display: block;
}
img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
button,input{
    background: none;
    border: none;
    outline: none;
    font: inherit;
}
button{
    cursor: pointer;
}

/* REUSABLE CLASSES */

/* HEADER */
